version: '3.8'

services:
  webserver:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hospital_webserver
    ports:
      - "80:80"
    volumes:
      - ../../hospital_app:/var/www/html
    environment:
      - DB_HOST=${DB_HOST:-db-vm}
      - DB_NAME=${DB_NAME:-hospital_db}
      - DB_USER=${DB_USER:-hospital_user}
      - DB_PASS=${DB_PASS:-HospitalPass123!}
    networks:
      - hospital_network
    restart: unless-stopped

networks:
  hospital_network:
    driver: bridge

