---
- name: Configure Webserver with Docker LAMP
  hosts: webserver
  become: yes
  tasks:
    - name: Install Docker dependencies
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
        state: present
        update_cache: yes

    - name: Add Docker GPG key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker repository
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
        state: present

    - name: Install Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
        update_cache: yes

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: yes

    - name: Copy Dockerfile and LAMP scripts
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
      loop:
        - { src: '../docker/Dockerfile', dest: '/root/Dockerfile' }
        - { src: '../docker/lamp_install.sh', dest: '/root/lamp_install.sh' }

    - name: Build custom LAMP image
      docker_image:
        name: custom-lamp
        build:
          path: /root
        source: build
        state: present

    - name: Run LAMP container
      docker_container:
        name: lamp-container
        image: custom-lamp
        state: started
        restart_policy: always
        ports:
          - "80:80"
          - "443:443"
        env:
          DB_HOST: "{{ hostvars['db-vm']['ansible_host'] }}"
          DB_NAME: "hospital_db"
          DB_USER: "hospital_user"
          DB_PASS: "{{ db_password }}"