---
- name: Configure Client Machine
  hosts: client
  become: yes
  tasks:
    - name: Install desktop environment (lightweight)
      apt:
        name:
          - xfce4
          - xfce4-goodies
          - firefox
        state: present
        update_cache: yes

    - name: Create regular user
      user:
        name: patient_user
        shell: /bin/bash
        groups: sudo
        append: yes
        password: "{{ 'password123' | password_hash('sha512') }}"

    - name: Install VNC server
      apt:
        name: tightvncserver
        state: present