---
- name: Configure Database Server
  hosts: database
  become: yes
  tasks:
    - name: Install MySQL
      apt:
        name:
          - mysql-server
          - mysql-client
          - python3-pymysql
        state: present
        update_cache: yes

    - name: Start MySQL service
      service:
        name: mysql
        state: started
        enabled: yes

    - name: Create hospital database
      mysql_db:
        name: hospital_db
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Create database user
      mysql_user:
        name: hospital_user
        password: "{{ db_password }}"
        priv: 'hospital_db.*:ALL'
        host: '%'
        state: present
        login_unix_socket: /var/run/mysqld/mysqld.sock

    - name: Configure MySQL for remote connections
      lineinfile:
        path: /etc/mysql/mysql.conf.d/mysqld.cnf
        regexp: '^bind-address'
        line: 'bind-address = 0.0.0.0'
      notify: restart mysql

  handlers:
    - name: restart mysql
      service:
        name: mysql
        state: restarted